<footer>
    <mat-toolbar fxLayout.lg="row" fxLayout.sm="column" fxLayoutAlign="space-around center" color="primary">
        <div>
            <h5>Made with <span><mat-icon color="warn">favorite</mat-icon>from VideoWatch</span></h5>
        </div>


        <div fxLayoutAlign.lg="end center" fxLayout.sm="column">
            <h5 fxLayout>Help us to grow by sharing</h5>
            <share-buttons
                [include]="['whatsapp','facebook','twitter','linkedin']"
                [show]="4"
                [size]="1"
                [autoSetMeta]="false">
            </share-buttons>
        </div>
    </mat-toolbar>
</footer>

