<div class="side-nav" fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
    <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        <div fxFlex fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-around center">
            <div fxFlex>
                <button mat-icon-button>
                    <mat-icon>home</mat-icon>
                </button>
            </div>
            <div>
                <p>Home</p>
            </div>
        </div>
    </a>
    
    <a routerLink="/subscriptions" routerLinkActive="active-link">
        <div fxFlex fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-around center">
            <div fxFlex>
                <button mat-icon-button>
                    <mat-icon>subscriptions</mat-icon>
                </button>
            </div>
            <div>
                <p>Subscriptions</p>
            </div>
        </div>
    </a>

    <a routerLink="/library" routerLinkActive="active-link">
        <div fxFlex fxLayout="column" fxLayoutGap="2px" fxLayoutAlign="space-around center">
            <div fxFlex>
                <button mat-icon-button>
                    <mat-icon>video_library</mat-icon>
                </button>
            </div>
            <div>
                <p>Library</p>
            </div>
        </div>
    </a>
</div>