<mat-toolbar color="primary">
    <mat-toolbar-row>
        <mat-icon color="warn">video_library</mat-icon>Video Watch
        <span class="example-spacer"></span>
        <button mat-button>About Us</button>
    </mat-toolbar-row>
</mat-toolbar>