<div fxLayout.lg="column" fxFlexFill>
    <div>
        <app-login-header></app-login-header>
    </div>
    <div fxLayoutAlign="center center" fxFlexFill>
        <div fxLayout.lg="column" fxLayoutGap="10px">
            <div fxLayout.lg="row" fxLayout.sm="column" fxFlex.lg="60" fxFlex.sm="100">
                <div fxFlex.lg="40" fxFlex.sm="100" color="primary" style="background-color: #3f51b5;"> 
                    <img src="/assets/static/images/video.jpg" alt="VideoWatch" style="max-width:100%;">
                    <h1 fxLayoutAlign="center" style="color: #ffffff;">Login</h1>
                    <p fxLayoutAlign="center" style="color: #ffffff;">Access to Your Subscribers, Chanels etc.;</p>
                </div>
                <div fxFlex.lg="60" fxFlex.sm="100" class="login" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
                    <mat-card class="login-card">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" class="login-form">
                            <mat-form-field appearance="outline">
                                <mat-icon matPrefix>account_circle</mat-icon>
                                <mat-label>Email</mat-label>
                                <input matInput cdkFocusInitial formControlName="email" class="form-control" required>
                                <mat-error *ngIf="loginForm.controls.email.hasError('required')">Email is required.</mat-error>
                                <mat-error *ngIf="loginForm.controls.email.hasError('email')">Enter valid email.</mat-error>
                            </mat-form-field>
                
                            <mat-form-field appearance="outline">
                                <mat-label>Password</mat-label>
                                    <mat-icon matPrefix>https</mat-icon>
                                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
                                <mat-error *ngIf="loginForm.controls.password.hasError('required')">Password is required.</mat-error>
                                <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">This password is too short. It must contain at least 8 characters.</mat-error>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                            
                            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
                                <div>
                                    <button mat-raised-button type="submit" [disabled]="!loginForm.valid" color="primary">Login</button>
                                </div>
                                <div>
                                    <button mat-raised-button type="button" color="primary">Register</button>
                                </div>
                            </div>
                            <div>
                                <button fxFlex mat-button type="button" fxLayoutAlign="center">Forgot Password?</button>
                            </div>
                        </form>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <app-login-footer></app-login-footer>
</div>
  
  